<section style="height: 100vh; background-color: #272343">
<app-home-header></app-home-header>
  <div class="container">
    <div class="d-flex align-items-center" style="height: 80vh">
      <div class="row" style="width: 100%">
        <div class="col-md-6">
          <h1 style="color: white; text-align: center">
            IUGO, learn fast and smart
          </h1>
          <div style="text-align: center;">
            <br>
            <button routerLink="/login" class="btn btn-primary btn-lg" style="margin-right: 40px; width: 200px;">Log in</button>
            <button routerLink="/register" class="btn btn-outline-light btn-lg">Register now</button>
          </div>
        </div>
        <div class="col-md-6">
          <img src="assets/learning.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
